.hidden{

    display: none;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/31/17/41/sunrise-1634197_1280.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-attachment: fixed;
    transition-property: background-image;
    transition-duration: 1s;


  }


#clock{font-size: 50pt;
}

#greeting{font-size: 40pt;
margin-left: 5%;}

#todo-list{font-size: 30pt;
color: rgb(248, 174, 244);
margin-left: 5%;}

#quote{
    margin-top: 10%;
    font-size: 25pt;
     font-weight: 600;


}

#weather{font-size: 30pt;}

#input{
    width: 300px;
height: 20px;
border-radius: 20px; 
border-color: rgb(245, 245, 240);
outline: none;
margin-left: 5%;
}
